body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.message-container{
  max-height: 90vh;
  overflow-y: auto;
}
.message {
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
}

.message.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message.received {
  background-color: #eaeaea;
  align-self: flex-start;
}

.message.sent p, .message.received p {
  margin: 0;
  padding: 0;
}

.message.sent p {
  text-align: right;
}

.message.received p {
  text-align: left;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input-container button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}